.cardBlock {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 3px dotted black;
}
.cardBlock__picture {
    width: 200px;
    height: 200px;
    background-image: url(https://www.iguides.ru/upload/medialibrary/f4d/f4ddc890c83fe19848ebfa52872af745.jpg);
    background-size: 200px 100px;
}
.cardBlock__text {
    color: rgb(230, 62, 179);
    border: 1px solid black;
    text-align: center;
}
.cardBlock__text_color-black {
    color: black;
}
.product {
    display: flex;
    justify-content: space-between;
}
.cardBlock__box {
    width: 30px;
    height: 30px;
    border: 1px solid cornflowerblue;
    background-color:crimson;
}



