.parent {
    display: grid;
    /* grid-template-columns: repeat(10, 50px 100px); */
    /* grid-template-rows: 150px 50px 70px; */
    grid-auto-rows: minmax(30px 150px);
    grid-template-columns: 50px 100px 70px;
}
.child {
    grid-column-start: 4;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 2;
}
.grid {
    display: grid;
    /* display:-ms-grid; */
    grid-template-columns: 50px 100px 30px;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
        "a a a"
        "c b b"
        "c b b";
        grid-column-gap: 15px;
        grid-row-gap: 25px;
        /* grid-gap: 25px 15px; */
}
.child1 {
    color:crimson;
    grid-area: a;
}
.child2 {
    color:crimson;
    grid-area: b;
}
.child3 {
    color:crimson;
    grid-area: c;
}