.parent {
    display: grid;
    /* grid-template-rows: 100px 50px 50px;
    grid-template-columns: 50px; */

}

.child {
    border: 1px solid black;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:3;
    grid-column-end:5;

}
